# Buildbucket-gerrit plugin fetches the all LUCI builders of a bucket
# automatically, so no need to specify builders for LUCI buckets.
# It also hides ones that are not "prod" on luci-migration.appspot.com

[bucket "luci.webrtc.try"]

[bucket "luci.chromium.try"]

[bucket "luci.webrtc-internal.g3.webrtc-internal.try"]
	builder = internal_tests
	builder = internal_compile
	builder = internal_compile_lite
